.detail-box {
    padding: 20px;
    width: calc(100% - 40px);
    color: #cccccc;
    font-size: 18px;
    line-height: 1.5;
    .header {
        font-size: 24px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .related-events {
        margin-bottom: 5px;
        font-size: 14px;
        .date {
            margin-right: 10px;
        }
        span a {
            color: #dddddd;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .close-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        transform: translate(-100%, 100%);
        transition: transform .25s;
        &:hover {
            cursor: pointer;
            transform: translate(-100%, 100%) scale(1.2);
        }
    }
}