.App {
    background-color: #282c34;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    .app-container {
        position: relative;
        max-width: 1280px;
        height: 100vh;
        left: 50%;
        top: 0;
        transform: translate(-50%);
    }
}

$header-top: 50px;

.search-header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2 * $header-top;
    background: linear-gradient(0deg, #282c34ff 0%, #1e3270ff 100%);
}

.search-component {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 2 * $header-top;
    width: 100%;
    background: transparent;
    .app-title {
        position: absolute;
        left: 50%;
        top: calc(50vh - 50px);
        transform: translate(-50%, -100%);
        font-size: 64px;
        color: #ccdeff;
        text-align: center;
        text-shadow: white 1px 1px 2px;
        transition-property: left, top, transform, font-size;
        transition-duration: .5s;
    }
    .search-box {
        position: absolute;
        left: 50%;
        top: 50vh;
        transform: translate(-50%, 0);
        border-style: solid;
        border-color: white;
        border-width: 0 0 3px 0;
        border-radius: 15px;
        transition-property: left, top, transform, border-radius, border-width;
        transition-duration: .5s;
        .config-control {
            position: absolute;
            top: 0%;
            right: 5px;
            &:hover {
                cursor: pointer;
                .controls {
                    display: block
                }
            }
            svg {
                height: 42px;
                width: 42px;
                transition-property: height, width;
                transition-duration: .5s;

            }
            .controls {
                &:hover {
                    display: block;
                }
                color: white;
                text-align: center;
                display: none;
                position: absolute;
                top: 100%;
                .block {
                    font-size: 18px;
                    white-space: nowrap;
                    padding: 5px 20px;
                    background: #181b22;
                    &:hover {
                        background: #272f42;
                    }
                    &.selected {
                        background: #2b303d;
                    }
                }
                .control {
                    position: relative;
                    .options {
                        display: none;
                        &:hover {
                            display: block;
                        }
                    }
                    &:hover .options {
                        display: block;
                        position: absolute;
                        left: 100%;
                        top: 0;
                    }
                }
            }
        }
        input {
            position: relative;
            bottom: 0;
            text-align: center;
            color: white;
            background: transparent;
            border: none;
            font-size: 42px;
            outline: none;
            padding: 0 50px;
            transition-property: font-size;
            transition-duration: .5s;
        }
    }
}

.search-component.search {
    background: transparent;
    .app-title {
        left: 30px;
        top: $header-top;
        font-size: 32px;
        transform: translate(0, -50%);
    }
    .search-box {
        left: 300px;
        top: $header-top;
        transform: translate(0, -50%);
        border-width: 0 0 1px 0;
        border-radius: 3px;
        svg {
            height: 28px; width: 28px;
        }
        input {
            font-size: 28px;
        }
    }
}

.search-entries-container {
    position: absolute;
    left: 0;
    top: $header-top * 2;
    width: calc(60% - 60px);
    height: calc(100% - #{$header-top * 2} - 60px);
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: white;
    .search-entries {
        border-bottom: 1px #aaaaaa solid;
        padding: 20px 20px 0 20px;
        .entry-title {
            font-size: 20px;
            margin-bottom: 10px;
            a {
                color: unset;
                text-decoration: unset;
            }
            color: white;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                color: #b6cfff;
                cursor: pointer;
            }
            .h {
                color: rgb(183, 255, 227);
                font-weight: 600;
            }
        }
        .entry-content {
            font-size: 16px;
            color: #dddddd;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 5px;
            &:hover {
                overflow: visible;
                display: block;
            }
            .h {
                color: rgb(183, 255, 227);
                font-weight: 550;
            }
        }
        .entry-meta {
            color: #bbbbbb;
            span {
                margin-right: 15px;
            }
            margin-bottom: 20px;
        }
        &:hover {
            background: #333741;
        }
    }
    .meta {
        color: #999faf;
        margin-bottom: 10px;
    }
    .paging {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        input {
            border: none;
            background: transparent;
            color: white;
            text-align: center;
            font-size: 24px;
            outline: none;
            background: #ffffff20;
            padding: 10px 3px;
            border-radius: 5px;
            margin: 15px;
        }
        i.fas {
            font-size: 24px;
            margin: 10px;
            padding: 10px 3px;
            border-radius: 5px;
            width: 30px;
            &:hover {
                cursor: pointer;
                background: #ffffff20;
            }
        }
    }
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(92, 133, 156);
        outline: none;
    }
}

.info-box {
    position: absolute;
    right: 0;
    top: $header-top * 2;
    width: 40%;
    height: calc(100% - #{$header-top * 2});
    overflow-y: scroll;
    overflow-x: hidden;
    .info-container {
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
        border-left: 3px #dddddd30 solid;
        .epidemic-info {
            margin-bottom: 15px;
        }
    }
    .trend-chart-container {
        position: relative;
        max-height: 300px;
    }
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgb(92, 133, 156);
        outline: none;
    }
}

@media screen and (max-width: 768px) {
    .search-component {
        .app-title {
            font-size: 32px;
        }
        .search-box {
            width: 80%;
            input {
                font-size: 28px;
                padding: 0 30px;
                width: calc(100% - 60px);
            }
            .config-control {
                svg {
                    height: 28px;
                    width: 28px;
                }
                .controls {
                    right: 0;
                    .control {
                        &:hover .options {
                            left: auto;
                            right: 100%;
                        }
                    }
                }
            }
        }
    }
    .search-component.search {
        .app-title {
            display: none;
        }
        .search-box {
            width: calc(100% - 40px);
            left: 20px;
        }
    }
    .info-box {
        display: none;
    }
    .search-entries-container {
        width: calc(100% - 40px);
        height: calc(100% - #{$header-top * 2} - 10px);
        padding: 5px 20px;
        .paging {
            margin-top: 20px;
            text-align: center;
            position: relative;
            input {
                padding: 5px;
                margin: 5px;
                width: calc(100% - 120px - 10px - 10px);
            }
            i.fas {
                font-size: 18px;
                padding: 0;
                margin: 5px;
                width: 20px;
            }
        }
        .search-entries {
            padding: 10px 10px 0 10px;
            .entry-title {
                font-size: 18px;
                margin-bottom: 5px;
            }
            .entry-content {
                font-size: 16px;
            }
            .entry-meta {
                font-size: 16px;
                span {
                    margin-right: 10px;
                }
                margin-bottom: 10px;
            }
        }
    }
}